@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent-red
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.5
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent-red
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======
.btn
  display: inline-block
  line-height: 1
  white-space: nowrap
  text-align: center
  cursor: pointer
  border: none
  box-shadow: none
  +mt(.3s)
  border-radius: 4px

.btn-transparent
  border: 1px solid $accent-red
  display: inline-flex
  justify-content: center
  align-items: center
  color: $text
  width: 165px
  height: 45px
  font-size: 14px
  &:hover
    background-color: $accent-red
    color: #fff

.btn-red
  background-color: $accent-red
  color: #fff
  &:hover
    background-color: darken($accent-red, 5%)

.s-white
  padding-top: 100px

.s-dark
  background-color: $accent-dark
  color: #fff
  padding-top: 36px

.section-title
  font-size: 40px
  letter-spacing: 0.07em
  text-align: center

//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form, .video-popup, .popup-privacy, .popup-kwiz
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form, &.mfp-ready .video-popup, &.mfp-ready .popup-privacy, &.mfp-ready .popup-kwiz
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form, &.mfp-removing .video-popup, &.mfp-removing .popup-privacy, &.mfp-removing .popup-kwiz
    transform: scale(0.7)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.5s ease-out
  &.mfp-ready.mfp-bg
    opacity: .9
  &.mfp-removing.mfp-bg
    opacity: 0


