@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .about-item
    padding-right: 0

  .about-right
    width: calc(100% - 510px)

  .intro-content
    width: 550px
    h1
      font-size: 28px
      line-height: 1.3

  .intro-item
    &-num
      font-size: 28px
    &-desc
      font-size: 14px

  .main-mnu
    display: none

  .top-line
    .btn
      display: none

  .hamburger
    display: block

// ≥992px
+media-breakpoint-down(md)

  .s-white
    padding-top: 50px

  .s-about
    padding-bottom: 50px
    .section-title
      margin-bottom: 35px

  .about-wrap
    flex-direction: column

  .about-left
    width: 100%
    margin-bottom: 30px
    height: 360px

  .about-right
    width: 100%

  .section-title
    font-size: 32px

  .s-intro
    padding: 50px 0

  .intro-img
    display: none

// ≥768px
+media-breakpoint-down(sm)
  .intro-content
    width: 100%
    h1
      font-size: 24px

// ≥480px
+media-breakpoint-down(xs)

  .about-left
    padding: 50px 25px 57px
    height: auto
    &-logo
      display: none
    &-desc
      font-size: 14px

  .s-white
    padding-top: 80px

  .section-title
    font-size: 25px

  .s-about
    padding-bottom: 80px

  .main-head
    position: relative
    z-index: 2

  .intro-mobile
    display: block
  
  .intro-content
    h1
      font-size: 22px
      margin-bottom: 30px
    .btn
      width: 288px

  .intro-items-wrap
    flex-wrap: wrap
    margin-bottom: 15px

  .intro-item
    padding: 0
    width: 100%
    margin-bottom: 20px
    &-num
      font-size: 25px
      margin-bottom: 2px
    &-desc
      font-size: 16px


  .s-intro
    padding: 35px 0 46px

  .top-links
    display: none

  .hamburger
    width: 28px
    height: 16px
    top: -4px

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
    height: 2px
    width: 28px

  .hamburger-inner:before
    top: -7px

  .hamburger--collapse .hamburger-inner:after
    top: -14px

  .hamburger-box
    height: 20px

@media (max-width: 390px)

  .mobile-contacts .btn
    width: 100%

  .top-line
    padding: 17px 0 18px

  .logo
    img
      width: 55px
      height: auto


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
